.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f2f5f6;
  position: relative;
}

.weeks {
  display: flex;
  width: 100%;
  width: 1000px;
  height: 200px;
  align-items: stretch;
}

.day {
  flex: 1;
  width: 100%;
  border-right: dashed 1px rgb(133, 133, 133);
  display: flex;
  flex-direction: column;
}

.title {
  margin-left: 5px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.hours {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  position: relative;
}

.step {
  position: absolute;
  font-size: 8px;
  top: -10px;
  transform: translateX(-50%);
}

.hour {
  flex: 1;
  width: 100%;
  border-right: 1px rgb(228, 228, 228) solid;
}

.hour:last-child {
  border-right: none;
}

.timeline {
  position: absolute;
  top: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
